@font-face {
    font-family: "FiraSans";
    src: url("../fonts/FiraSans.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto.ttf");
}
@font-face {
    font-family: "Caviar";
    src: url("../fonts/CaviarDreams.ttf");
}
@font-face {
    font-family: "CaviarBold";
    src: url("../fonts/CaviarDreamsBold.ttf");
}



html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  font-family: Roboto;
}
h1 {
    font-size: 52px;
    font-weight: bold;
    text-transform: uppercase;
}
h1, h2, h3 {
    font-family: FiraSans;
}
h4, p, a, button {
    font-family: Roboto;
}
.container {
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
a, .btn, span {
    transition: 0.3s;
    border-radius: 0;
    border: 0;
}
a:hover {
    text-decoration: none;
}
p {
    font-size: 16px;
}
section {
    position: relative;
    color: #fff;
    text-align: center;
}

section:before {
    position: absolute;
    content:'';
}
.botonAzul {
    border-radius: 0;
    background: #0089cd;
    border: 1px solid #FFF;
    box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    padding: 15px;
    letter-spacing: 2px;
    margin-top: 20px;
}
.botonAzul:hover {
    border-radius: 0;
    background: #007ab7;
    border: 1px solid #FFF;
}
.botonVerde {
    border-radius: 0;
    background: #00cd52;
    border: 1px solid #FFF;
    box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    padding: 15px;
    letter-spacing: 2px;
    margin-top: 20px;
}
.botonVerde:hover {
    border-radius: 0;
    background: #00b347;
    border: 1px solid #FFF;
}
.botonWhite {
    border-radius: 0;
    background: #FFF;
    border: 1px solid #002f51;
    box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    padding: 15px;
    letter-spacing: 2px;
    color: #002f51;
}
.botonWhite:hover, .botonWhite:focus, .botonWhite:active, .botonWhite:visited {
    border-radius: 0;
    background: #FFF;
    border: 1px solid #0089cd;
    color: #0089cd;
    box-shadow: 0;
}
.azul {
    color: #0089cd;
}


/* HEADER */
.navbar {
    margin:0;
}
.navbar-nav {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
.navbar-nav > li {
    float: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 20px;
}
.navbar-inverse {
    background: none;
    border: 0;
}
.dropdown-menu {
    border: 0;
    padding: 20px 0;
    left: auto;
}
.plus {
    display: none;
    width: 30px;
    height: 30px;
    background: #FFF;
    color: #444;
    padding: 0 8px;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: -50px;
    margin: 5px;
    z-index: 500;
}
.dropdown-menu > li > a:hover {
    color: #0089cd;
    background: #FFF;
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}
.navbar-inverse .navbar-nav > li > ul > li > a {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    padding: 10px 30px;
}
.navbar-inverse .navbar-nav > li > a.active {
    color: #0089cd;
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
    color: #0089cd;
    background: none;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #0089cd;
    background: none;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
    background: #FFF;
    color: #0089cd;
}

/*Contacto MENU*/
.fadebox {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
    transition: .5s;
}
.overbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 1002;
    overflow: auto;
    width: 100%;
    text-align: center;
}
.contacto {
    position: absolute;
    top: 5%;
    left: 0;
    width: 800px;
    background: rgba(54, 54, 54, 0.8);
    color: #FFF;
    padding: 10px;
    margin: 0 auto;
    right: 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.contactoForm {
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
}
.contactoForm .form-control {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-color: #eee;
}
.contactoForm .icon {
    position: absolute;
    background-color: #FFF;
    border: 0;
    top: 0;
    right: 0;
    margin-right: 30px;
    margin-top: 10px;
    font-size: 25px;
    color: #0089cd;
}
.contactoForm .linkWhite:hover {
    color: #4db7eb;
}

/* Sect 1 */
.sect1 {
    background: url("../img/sect1.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 100px 0;
    color: #FFF;
    margin-top: -80px;
}
.sect1 img {
    margin-top: 30px;
}
.sect1 a {
    margin-top: 50px;
}





/* Sect 2 */
.sect2 {
    background: #54534f;
/* Old Browsers */background: -moz-linear-gradient(-50deg, #54534f 0%, #54534f 40%, #ffffff 68%, #ffffff 100%);
 /* FF3.6+ */background: -webkit-gradient(left top, right bottom, color-stop(0%, #54534f), color-stop(40%, #54534f), color-stop(68%, #ffffff), color-stop(100%, #ffffff));
/* Chrome, Safari4+ */background: -webkit-linear-gradient(-50deg, #54534f 0%, #54534f 40%, #ffffff 68%, #ffffff 100%);
 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(-50deg, #54534f 0%, #54534f 40%, #ffffff 68%, #ffffff 100%);
 /* Opera 11.10+ */background: -ms-linear-gradient(-50deg, #54534f 0%, #54534f 40%, #ffffff 68%, #ffffff 100%);
 /* IE 10+ */background: linear-gradient(170deg, #54534f 0%, #54534f 40%, #ffffff 68%, #ffffff 100%);
/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54534f', endColorstr='#ffffff', GradientType=1 );
/* IE6-9 fallback on horizontal gradient */
}
.textSlide {
    width: 100%;
    position: absolute;
    top: 30%;
}
.textSlide h2, .textSlide h3 {
    width: 70%;
    margin: 0 auto;
    font-family: Caviar;
}
.textSlide h2 {
    font-size: 2.5em;
    font-family: CaviarBold;
}
.textSlide h3 {
    font-size: 2em;
}
div.slide1 {
    background: url("../img/1.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 700px;
}
div.slide2 {
    background: url("../img/2.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 700px;
}
div.slide3 {
    background: url("../img/3.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 700px;
    color: #3f3f3f;
}
div.slide4 {
    background: url("../img/4.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 700px;
}
div.precio {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px 0;
    margin: 20px 0;
    color: #FFF;
}
.rslides_nav {
    background: #000;
    opacity: .5;
    color: #FFF;
    position: absolute;
    z-index: 100;
    bottom: 50%;
    width: 70px;
    padding: 10px 0;
    height: 50px;
    border-radius: 50px 0 0 50px;
    border: 2px solid #FFF;
    font-size: 20px;
}
.rslides1_nav:active, .rslides1_nav:hover {
    opacity: 1.0;
}

.rslides1_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}
.rslides1_nav.prev {
    border-radius: 0 50px 50px 0;
    right: auto;
    background-position: left top;
    left: 0;
}
.caviar {
    text-transform: uppercase;
    font-family: CaviarBold;
    font-style: italic;
    font-size: 38px;
}







/* sect3 */
.sect3 {
    background: url("../img/sect3.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: #444;
    height: 600px;
    padding: 0 20px;
    padding-top: 50px;
}
.quienesSomos {
    margin-top: 0px;
}






/* sect4 */
.sect4 {
    background: url("../img/sect4.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 800px;
    padding: 100px 20px;
}
.porqNosotros {
    margin-top: 20px;
}
.burbuja {
    width: 100%;
    height: 600px;
}
.caja {
    background: rgba(120, 186, 232, 0.5);
    padding: 30px;
    width: 350px;
    height: 280px;
    margin: 0 auto;
    border-radius: 20px;
}
.caja p {
    font-size: 20px;
}
.flecha {
    position: absolute;
    bottom: auto;
    left: 60%;
    width: 0;
    height: 0;
    border-top: 50px solid rgba(120, 186, 232, 0.5);
    border-right: 40px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 0 solid transparent;
}
.porqNosotros .botonAzul {
    margin-top: 70px;
}

/* sect5 */
.sect5 {
    background: url("../img/sect5.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    color: #444;
}
.icono {
    margin: 0 auto;
    width: 155px;
    height: 155px;
}
.icono img {
    width: 155px;
    height: 155px;
}
.icon1 {
    position: absolute;
}
.icon11 {
    position: absolute;
}
.iconoTexto {
    font-size: 1.3em;
    height: 130px;
}
.iconoTexto h4 {
    color: #0089cd;
    font-size: 28px;
    font-weight: bold;
}
.linea {
    height: 0;
    width: 170px;
    border-top: 5px solid #0089cd;
    position: absolute;
    top: 75px;
    left: -90px;
}
.punta {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #0089cd;
    position: absolute;
}
.puntaL { left: -10px; top: -11px; }
.puntaR { left: 155px; top: -11px; }
.aparece {
    display: none;
}



/*contact*/
.contact {
    background: url("../img/contact.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 800px;
    padding-top: 130px;
    color: #444;
}
.contact2 {
    background: url("../img/contact2.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 800px;
    padding-top: 130px;
    color: #444;
}
.contact3 {
    background: url("../img/contact3.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 800px;
    padding-top: 130px;
    color: #444;
}
.contact h1 {
    margin-bottom: 30px;
}
.invert {-webkit-filter: invert(100%); filter: invert(100%);}
.brightness {-webkit-filter: brightness(0.25); filter: brightness(0.25);}
.contact img {
    margin-top: 30px;
}
.logoContact {
    padding-top: 50px;
    margin: 0 auto;
    width: 300px;
}
.logoContact .circuloRedes {
    margin-top: 20px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 0;
}
.logoContact .facebook {background: #475995;}
.logoContact .instagram {background: #d31cda;}
.logoContact .facebook:hover {background: #37477d;}
.logoContact .instagram:hover {background: #be19c4;}
.logoContact span {
    font-size: 32px;
    margin-left: -2px;
}
.contactForm {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}
.contactForm .form-control {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-color: #eee;
}
.enviarBtn {
    background: #0089cd;
    border-radius: 0;
    border: 0;
}
.enviarBtn:hover {
    background: #0082c2;
}
.btn.disabled:hover {
    background: #444;
}
.contactForm .icon {
    position: absolute;
    background-color: #FFF;
    border: 0;
    top: 0;
    right: 0;
    margin-right: 30px;
    margin-top: 10px;
    font-size: 25px;
    color: #0089cd;
}





/*servicios*/
.servicios > .textServicio {
    width: 100%;
}
.servicios .textServicio h2, .servicios .textServicio h3 {
    width: 70%;
    margin: 0 auto;
    font-family: Caviar;
}
.servicios .textServicio h2 {
    font-size: 2.5em;
    font-family: CaviarBold;
}
.servicios .textServicio h3 {
    font-size: 2em;
}
.servicios > div > div > div {
    padding-top: 200px;
}
.servicios div.servicio1 {
    background: url("../img/1.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 700px;
}
.servicios div.servicio2 {
    background: url("../img/22.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 700px;
    color: #444;
}
.servicios div.servicio3 {
    background: url("../img/33.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 700px;
    color: #3f3f3f;
}
.servicios div.servicio4 {
    background: url("../img/44.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 700px;
    color: #444;
}
.servicios div.precio {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px 0;
    margin: 20px 0;
    color: #FFF;
}
.servicios div.precioAzul {
    width: 100%;
    background: rgba(0, 137, 205, 0.5);
    padding: 20px 0;
    margin: 20px 0;
    color: #FFF;
}
.contacto div.precioAzul {
    width: 100%;
    background: rgba(0, 137, 205, 0.5);
    padding: 20px 0;
    margin: 20px 0;
    color: #FFF;
    border-radius: 5px;
    height: 60px;
    font-size: 16px;
}


/*activity monitor*/
/* sect4 */
.activityMonitor .sect4 {
    background: url("../img/sect44.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 100px 20px;
}
/* sect3 */
.activityMonitor .sect3 {
    background: url("../img/sect3.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: #444;
    height: 100%;
    padding: 0 20px;
}
.activityMonitor .textMonitor {
    background: url("../img/monitor.png") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 557px;
    height: 463px;
    margin: 0 auto;
    padding: 50px;
}
.activityMonitor .btnMonitor {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding: 15px;
    position: absolute;
    bottom: 0;
    margin-left: -25px;
    margin-bottom: 78px;
}
.activityMonitor .btnMonitor span {
    font-size: 22px;
}

/*blasterAnalitycs*/
/* sect4 */
.blasterAnalitycs .sect4 {
    background: url("../img/sect44.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 100px 20px;
}
/* sect3 */
.blasterAnalitycs .sect3 {
    background: url("../img/sect3.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: #444;
    height: 100%;
    padding: 0 20px;
}
.blasterAnalitycs p {
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.blasterAnalitycs .textMonitor {
    background: url("../img/monitor.png") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 557px;
    height: 463px;
    margin: 0 auto;
    padding: 30px;
    padding-bottom: 180px;
}
.blasterAnalitycs .btnMonitor {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding: 15px;
    position: absolute;
    bottom: 0;
    margin-left: -25px;
    margin-bottom: 78px;
}
.blasterAnalitycs .btnMonitor span {
    font-size: 22px;
}

/*communityManager*/
.communityManager {
    height: 100%;
}
/* sect3 */
.communityManager .sect3 {
    background: url("../img/sect33.jpg") no-repeat top center;
    width: 100%;
    color: #444;
    height: 100%;
    padding: 150px 20px;
}
.communityManager p {
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.communityManager h2 {
    font-size: 38px;
}
.communityManager .circuloPlan {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    color: #FFF;
    padding: 50px;
    background: #0089cd;
}
.communityManager .plan1 {
    padding: 20px;
}
.communityManager .plan2 {
    background: rgba(0, 137, 205, 0.1);
    padding: 20px;
}

/*disenoGrafico*/
.disenoGrafico .servicios div.servicio1 {
    background: url("../img/11.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 700px;
}
.disenoGrafico .sect3 {
    background: url("../img/sect33.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: #444;
    height: 100%;
    padding: 150px 20px;
}
.disenoGrafico p {
    font-size: 18px;
    width: 70%;
    margin: 20px auto;
}
.disenoGrafico a {
    margin: 30px;
}



/*nosotros*/
.nosotros .sect3 {
    background: url("../img/sect33.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: #444;
    height: 100%;
    padding: 150px 20px;
}
.nosotros p {
    font-size: 22px;
    margin-top: 80px;
}
.nosotros a {
    margin: 30px;
}
.nosotros .sect4 {
    background: url("../img/sect444.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 150px 20px;
}
.nosotros .caja {
    background: rgba(120, 186, 232, 0.5);
    font-size: 24px;
    padding: 30px;
    width: 550px;
    height: 280px;
    margin: 0 auto;
    border-radius: 20px;
}

/*sitioWeb*/
.sitioWeb {

}
.sitioWeb .sect3 {
    background: url("../img/sect33.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: #444;
    height: 100%;
    padding: 0 20px;
    padding-top: 150px;
}
.sitioWeb .cuadro {
    border: 2px solid #0089cd;
    padding: 10px;
    margin-top: 20px;
    height: 320px;
}
.sitioWeb .cuadro h3 {
    color: #0089cd;
    font-weight: 800;
}
.sitioWeb .ecommerce {
    background: url("../img/ecommerce.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: #444;
    height: 100%;
    padding: 150px 20px;
}
.sitioWeb .ecommerce .textEcommerce {
    width: 40%;
    color: #FFF;
    font-size: 18px;
    position: absolute;
    top: 220px;
    left: 30%;
}
.sitioWeb .ecommerce .monitorEcommerce {
    text-align: center;
}
.sitioWeb .ecommerce .monitorEcommerce img {
    margin: 0 auto;
}
.marginTop {
    margin-top: 50px;
}
.sitioWeb .aplicacionesWeb {
    background: url("../img/sect3.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: #444;
    height: 100%;
    padding: 50px 20px;
}
.sitioWeb h3 {
    margin: 0;
    color: #0089cd;
}
.sitioWeb .iconText {
    margin-top: 20px;
}
.sitioWeb .iconText img {
    width: 110px;
}
.anchoP {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.noPadding {
    padding: 0 !important;
}
.sitioWeb .aplicacionesMoviles {
    background: url("../img/sect444.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 150px 20px;
}
.sitioWeb .aplicacionesMoviles .caja p {
    font-size: 18px;
}

/*productos*/
.productos .sect3 {
    background: url("../img/sect33.jpg") no-repeat top center;
    width: 100%;
    color: #444;
    height: 100%;
    padding: 250px 20px;
}
.productos .plan1 {
    padding: 20px;
}
.productos .plan2 {
    background: rgba(0, 137, 205, 0.1);
    padding: 20px;
}



/* FOOTER */
footer {
    background: #353132;
    padding: 40px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    color: #FFF;
}
.mapaSitio {
    margin-bottom: 30px;
}
.footer {
    background-color: #FFF;
}







/* RESPONSIVE *****************************************/


/* Menores que 767px */

@media screen and (max-width: 767px) {
    body {
      /* Margin bottom by footer height */
      margin-bottom: 115px;
    }
    h1 {
        font-size: 28px;
    }
    .navbar-inverse {
        background: #353132;
    }
    .navbar-static-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
    .navbar-nav {
        padding-top: 0;
        width: 90%;
        text-align: left;
    }
    .navbar-nav > li {
        display: block;
    }
    .sect1 {
        padding-top: 150px;
    }
    .textSlide h2, .textSlide h3 {
        width: 95%;
        font-size: 1.5em;
    }
    .servicios .textServicio h2, .servicios .textServicio h3 {
        width: 95%;
        margin: 0 auto;
        font-family: Caviar;
    }
    .servicios .textServicio h2 {
        font-size: 2em;
        font-family: CaviarBold;
    }
    .servicios .textServicio h3 {
        font-size: 1.5em;
    }
    .servicios > div > div > div {
        padding-top: 150px;
    }
    footer {
        padding: 20px 0;
    }
    .sect3 {
        padding: 0;
        height: 770px;
    }
    .sect4 {
        height: 1100px;
        padding: 100px 0px;
    }
    .sect4 p {
        font-size: 16px;
    }
    .sect4 h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .sect5 {
        padding-bottom: 20px;
    }
    .caja {
        position: relative;
        width: 350px;
        height: auto;
        font-size: 14px;
        padding: 10px;
    }
    .flecha {
        border-top: 30px solid rgba(120, 186, 232, 0.5);
        border-right: 30px solid transparent;
    }
    .porqNosotros .botonAzul {
        margin-top: 40px;
    }
    .desaparece {
        display: none;
    }
    .desaparece768 {
        display: none;
    }
    .contact img {
        margin-top: 10px;
    }
    .contact h1 {
        margin: 0;
    }
    .logoContact {
        padding-top: 20px;
        width: 250px;
    }
    .contact {
        padding-top: 100px;
    }
    .activityMonitor .sect4 h1 {
        font-size: 28px;
    }
    .activityMonitor .sect3 h1 {
        font-size: 24px;
    }
    .activityMonitor .sect3 h2 {
        font-size: 20px;
    }
    .activityMonitor .textMonitor {
        background: none;
        width: auto;
        height: auto;
        padding: 0;
    }
    .activityMonitor .btnMonitor {
        display: none;
    }
    .blasterAnalitycs .sect4 h1 {
        font-size: 28px;
    }
    .blasterAnalitycs .sect3 h1 {
        font-size: 24px;
    }
    .blasterAnalitycs p {
        width: 100%;
        margin-bottom: 20px;
    }
    .blasterAnalitycs a {
        margin-bottom: 50px;
    }
    .blasterAnalitycs .textMonitor {
        background: none;
        width: auto;
        height: auto;
        padding: 0;
    }
    .blasterAnalitycs .btnMonitor {
        display: none;
    }
    .communityManager .sect4 h1 {
        font-size: 28px;
    }
    .communityManager .sect3 h1 {
        font-size: 24px;
    }
    .communityManager p {
        width: 100%;
        margin-bottom: 20px;
    }
    .disenoGrafico h1 {
        font-size: 28px;
    }
    .disenoGrafico p {
        width: 100%;
    }
    .nosotros .sect3 {
        padding: 50px 10px;
    }
    .nosotros .sect4 {
        padding: 50px 0;
    }
    .nosotros h1 {
        font-size: 28px;
    }
    .nosotros p {
        width: 100%;
    }
    .nosotros .caja {
        width: 100%;
    }
    .nosotros .caja p{
        font-size: 14px;
    }
    .contacto {
        width: 90%;
        top: 5%;
    }
    .contactoForm {
        width: 100%;
    }
    .plus {
        display: block;

    }
    .sitioWeb .sect3 {
        padding: 200px 0 ;
    }
    .sitioWeb .cuadro {
        height: auto;
    }
    .sitioWeb .aplicacionesWeb {
        padding: 0;
        padding-bottom: 150px;
    }
    .sitioWeb p {
        width: 95%;
    }
    .communityManager .sect3 {
        padding: 0;
        padding-top: 100px;
        padding-bottom: 150px;
    }
    .sitioWeb .ecommerce .textEcommerce {
        width: 70%;
        left: 15%;
        top: 25%;
        font-size: 16px;
    }
}


/* Entre que 320px y 460px */

@media screen and (min-width: 300px) and (max-width: 460px) {
    .contactForm {
        width: 250px;
    }
    .caja {
        width: 100%;
    }
    .rslides_nav {
        bottom: 20%;
    }
    .textSlide {
        top: 20%;
    }
    .sitioWeb .ecommerce .textEcommerce {
        width: 70%;
        left: 15%;
        top: 18%;
        font-size: 12px;
        line-height: 1;
    }
}


/* Entre 768px y 991px */

@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
      /* Margin bottom by footer height */
      margin-bottom: 100px;
    }
    .desaparece {
        display: none;
    }
    .aparece {
        display: block;
    }
    .sitioWeb .ecommerce .textEcommerce {
        width: 60%;
        top: 150px;
        left: 20%;
    }
}


/* Entre 768px y 1024px - PANORAMICA (Horizontal) */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .navbar-nav > li {
        padding: 0;
    }
}


/* Mayor a 992px */

@media screen and (min-width: 992px) {

}


/* Entre 768px y 1024px - PANORAMICA (Horizontal) */

@media only screen and (min-device-width: 992px) and (max-device-width: 1200px) {
    .sitioWeb .ecommerce .textEcommerce {

    }
}
