/*@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto.ttf");
}*/


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /*font-family: Roboto;*/
}
h1 {
    font-weight: bold;
    text-transform: uppercase;
}
.container {
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
.global {
    padding-bottom: 20px;
}
a {
    transition: .3s;
}
a:hover {
    color: #28B62C;
    text-decoration: none;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
input[type="checkbox"] {
    vertical-align: top;
    margin-right: 10px;
}
input[type="radio"] {
    vertical-align: top;
    margin-right: 10px;
}
label {
    cursor: pointer;
}
input[type="text"] {

}
.noP {
    padding: 0 !important;
}
.header {
    margin-top: 20px;
    margin-bottom: 10px;
}
.headerSect {
    background: #158CBA ;
    border-width: 0 1px 4px 1px;
}
.headerSect h4 {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.contentSect {
    border: 1px solid #12789F;
}
.contentSect .form-control {
    border-radius: 0;
}
.contentSect .form-control:focus {
    border-color: #65ea8c;
}
.botones {
    margin-top: 20px;
}

section {
    padding: 0 !important;
    margin-bottom: 10px;
}
.sect2 .contentSect {
    height: 116px;
}
.sect3 .contentSect {
    height: 230px;
}
.sect3 textarea {
    width: 100%;
    height: 100%;
}
.sect4 .contentSect {
    height: 50px;
}
.sect4 textarea {
    width: 100%;
    height: 100%;
}
.sect5 .contentSect {
    height: 50px;
}
.sect5 textarea {
    width: 100%;
    height: 100%;
}
.sect8 .contentSect {
    height: 100px;
}
.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* FOOTER */
footer {
    background: #eee;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: #FFF;
}



/* RESPONSIVE *****************************************/
/* Menores que 767px */

@media screen and (max-width: 767px) {
    .global {
      padding: 0 30px;
    }
    h1 {
        font-size: 32px;
    }
    .header .logo {
        text-align: center;
    }
    h4 {
        margin-bottom: 0;
    }
}


/* Entre que 320px y 460px */

@media screen and (min-width: 300px) and (max-width: 460px) {

}


/* Entre 768px y 991px */

@media screen and (min-width: 768px) and (max-width: 991px) {

}


/* Entre 768px y 1024px - PANORAMICA (Horizontal) */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

}


/* Mayor a 992px */

@media screen and (min-width: 992px) {

}


/* Entre 768px y 1024px - PANORAMICA (Horizontal) */

@media only screen and (min-device-width: 992px) and (max-device-width: 1200px) {

}
